# Clase 2: Estructuras de datos en Python

<a class="anchor" id="principio"></a>
- [Introdución](#intro)
- [1. Listas](#listas)
    - [Creando listas](#creal)
    - [Indices de una lista](#indx)
    - [List Slicing](#slic)
    - [Modificando una lista](#modif)
    - [Una propiedad curiosa de las listas](#curio)
    - [Métodos de las listas](#mets)
    - [Funciones integradas](#fuinc)
    - [Listas de listas](#ldel)

<a class="anchor" id="intro"></a>

## Introducción
- Los tipos de datos que hasta ahora hemos estudiado tienen un sólo elemento.
- Hay estructuras más complejas que pueden contener varios de esos tipos de datos.

En programación, una estructura de datos sirve para organizar y almacenar datos de la forma más eficiente. Más precisamente, una estructura de datos es una colección de valores de datos, las relaciones entre ellos y las funciones u operaciones que se pueden aplicar a los datos, es decir, es una estructura algebraica sobre datos.


<img src="https://github.com/ccsuehara/python_para_las_ccss/blob/v_2025_0/img/estructuras.png?raw=1" width="400">

[source](https://en.wikipedia.org/wiki/File:Python_3._The_standard_type_hierarchy.png)

Vimos las estructuras de datos más primitivas, ahora nos enfocaremos en estructuras que albergan más elementos.


<a class="anchor" id="listas"></a>

## I. Listas - **corchetes y elementos separados por puntos**
Las listas nos permiten almacenar y trabajar varios tipos de datos como una lista ordenada de valores.

Es una estructura de datos muy versátil y puede hacer muchas tareas. Se usa muchísimo al escribir Python ya que es muy sencilla y por ello muy ideal de aprender al principio.

[1, 2, 3, 4], lista numérica

["a", "b", "c"], lista textual

[True, False], lista con booleanos

<a class="anchor" id="creal"></a>

### Creando una lista:

In [2]:
lista = [1, 2, 3, 4, 5] ## los brackets [] son lo principal para crear una lista, los elementos se separan por comas.
lista

[1, 2, 3, 4, 5]

¿Y si llamamos a ```lista2```?

In [3]:
lista2 # si no se define la lista, se genera un error.

NameError: name 'lista2' is not defined

In [4]:
cursos = ["Historia", "Economía", "Antropología", "RSP", "Derecho", "Sociología", "Filosofía", "Psicología", "Ciencia Política", "Geografía"]

Las listas pueden contener elementos de diferentes tipos

In [5]:
mi_lista = [5, "hola", 50.55, True, "chau"]
mi_lista

[5, 'hola', 50.55, True, 'chau']

Normalmente trabajamos con listas que tienen datos del mismo tipo,   
ya que iteramos con ellas y el código podría arrojar error.

Aquí creamos una lista vacía

In [6]:
vacia = []

In [ ]:
## Utilizando un constructor de listas
mi_lista2 = list((5, "hola", 50.55, True, "chau"))
mi_lista2

[5, 'hola', 50.55, True, 'chau']

Podemos crear listas al concatenar varias listas:

In [7]:
primera_parte = [1, 2, 3, 4, 5]
segunda_parte = [6, 7, 8, 9, 10]

primera_parte + segunda_parte
#new = primera_parte + segunda_parte

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Podemos crear una lista con rangos

In [20]:
range(0,10) #me da número enteros dentro del rango de secuencia
list(range(4, 20, 2)) #le pedimos un rango del 4 al 20, cada dos números

[4, 6, 8, 10, 12, 14, 16, 18]

Podemos crear una lista de un tamaño determinado:

In [21]:
n = 15
lst = [0] * n
lst

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [13]:
elm = [2,3]
new = [elm]*5
print(new)
new[0] = 1
print(new)

[[2, 3], [2, 3], [2, 3], [2, 3], [2, 3]]
[1, [2, 3], [2, 3], [2, 3], [2, 3]]

In [15]:
n = 10
lst = [0, 1, 2] * n
print(lst)   ## La multiplicación repite la lista n veces

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

Podemos ver cuántos elementos tiene una lista

In [22]:
print(len(mi_lista))
print(len(segunda_parte))
print(len(lst))

5
5
15

<a class="anchor" id="indx"></a>

### Indices de una lista - **inicia con 0**
Las listas son ordenadas por naturaleza, por lo que habrá un índice con el que nos podremos referir a cada elemento de estas. A continuación aprenderemos a utilizar los índices de las listas.

In [16]:
cursos = ['Historia',
 'Economía',
 'Antropología',
 'RSP',
 'Derecho',
 'Sociología',
 'Filosofía',
 'Psicología',
 'Ciencia Política',
 'Geografía']

In [17]:
cursos[0]

'Historia'

In [19]:
cursos[8]

'Ciencia Política'

In [18]:
cursos[3]

'RSP'

A tener en cuenta: Aquí los brackets son diferentes a los que se usan para rebanar strings!

In [27]:
mensaje = "Mañana será bonito" #mañana inicia del elemento 0 al 5
mensaje[0:6] #el último número no cuenta

#len(mensaje)

'Mañana'

In [29]:
mensaje1 = "te extraño monchi"
mensaje1[-6:] #el "-" inivierte la lista

'monchi'

<a class="anchor" id="slic"></a>

### List Slicing (Rebanado de listas)

`lista = [10, 20, 30, 40, 50]`

| Slicing                 | Descripción                                                   | Ejemplo            |
|-------------------------|---------------------------------------------------------------|-----------------------------------|
| `lista[start:end]`      | Extrae una sublista desde el índice `start` hasta `end - 1`.  | `lista[1:3]` -> `[20, 30]`        |
| `lista[start:]`         | Extrae una sublista desde `start` hasta el final de la lista. | `lista[2:]` -> `[30, 40, 50]`     |
| `lista[:end]`           | Extrae una sublista desde el comienzo hasta `end - 1`.        | `lista[:3]` -> `[10, 20, 30]`     |
| `lista[-n:]`            | Extrae los últimos `n` elementos de la lista.                | `lista[-3:]` -> `[30, 40, 50]`    |
| `lista[:-n]`            | Extrae todo excepto los últimos `n` elementos de la lista.   | `lista[:-2]` -> `[10, 20, 30]`    |
| `lista[start:end:step]` | Extrae elementos dentro del rango `start` a `end - 1` con pasos de `step`. | `lista[0:5:2]` -> `[10, 30, 50]` |
| `lista[::step]`         | Extrae elementos de toda la lista con pasos de `step`.       | `lista[::2]` -> `[10, 30, 50]`    |
| `lista[::-1]`           | Invierte la lista.                                            | `lista[::-1]` -> `[50, 40, 30, 20, 10]` |

In [ ]:
cursos = ['Historia',
 'Economía',
 'Antropología',
 'RSP',
 'Derecho',
 'Sociología',
 'Filosofía',
 'Psicología',
 'Ciencia Política',
 'Geografía']

### Ejercicios:
1. Toma el segundo elemento de   `cursos` y guárdalo en una variable llamada `curso_2`.
2. Toma el penúltimo elemento de `cursos` y guárdalo en una variable llamada `curso_9`.
3. Toma los primeros 3 elementos de `cursos` y guárdalos en una variable llamada `primeros_3`.
4. Toma los últimos 3 elementos de `cursos` y guárdalos en una variable llamada `ultimos_3`.
5. Toma los elementos de `cursos` que están entre el segundo y el quinto elemento y guárdalos en una variable llamada `elementos_intermedios`.
6. Invierte la lista `cursos` y guárdala en una variable llamada `cursos_invertidos`.
7. Toma los elementos del 2do al 8vo con un step de 2, guardalo en una variable llamada `step_2`.

In [38]:
# Desarrolla aquí tus ejercicios

# 1.
cursos_2 = cursos[2]
cursos_2

# 2.
# 3.
# 4.
# 5.
# 6.
# 7.

'Antropología'

Las listas pueden tener indexes fuera de rango. En este ejemplo, el indice 20 se comporta igual que len(lst) + 1.  

No tener que preocuparnos por los indexes, puede ser conveniente!

In [34]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(nums[0:20])
print(nums[0:len(nums) + 1])
print(nums[0:len(nums)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<a class="anchor" id="modif"></a>

### Modificando una lista

Las listas son objetos **mutables**, lo cual indica que sus valores se pueden modificar después de su creación (se pueden cambiar, agregar, eliminar elementos). Otras estructuras, como los strings y las tuplas, no se pueden cambiar.

Para modificar una lista, podemos hacer lo siguiente

In [35]:
cursos[3] = "Sociologia"
cursos

['Historia',
 'Economía',
 'Antropología',
 'Sociologia',
 'Derecho',
 'Sociología',
 'Filosofía',
 'Psicología',
 'Ciencia Política',
 'Geografía']

<a class="anchor" id="curio"></a>

### Una propiedad curiosa de las listas (Importante)

Imaginen que tenemos una lista, y queremos hacer una copia de dicha lista:

In [39]:
list_a = [1,2,3,4]
list_b = list_a #si se equipara y cambias algo en a, cambia en b

Ahora, modifiquemos la list_a:

In [42]:
list_a[2] = 5
list_b

[1, 2, 5, 4]

¿ Qué pasó con la otra lista?

In [43]:
list_b

[1, 2, 5, 4]

También ha cambiado!

Aquí introducimos el comando `id`

In [44]:
print(id(list_a))
print(id(list_b)) ## Tienen los mismos ids!

137795705787136
137795705787136

In [45]:
list_a is list_b #equiparadas

True

#### Los nombres de variables son como referencias

Cuando nombramos a una variable, la variable no es su nombre en sí, sino es una referencia a un lugar de la memoria. La `lst_a` no es [1,2,3,4] , sino hace referencia a dicho objeto. La `lst_b`, al haberla creado como `lst_b` = `lst_a`, también hace referencia al mismo objeto.

Los nombres son como "etiquetas" o "alias" que se le dan a los objetos. En este caso, hicimos una copia falsa.

<img src="https://github.com/ccsuehara/python_para_las_ccss/blob/v_2025_0/Clase%202/img/lsts.png?raw=1" width="800">

#### Haciendo una copia que no referencie al mismo objeto:

Si queremos hacer una copia independiente basada en una lista preexistente, solo tenemos que hacer:

In [47]:
list_c  = list_a[:]

In [49]:
id(list_c)

137795179836800

In [50]:
id(list_a)

137795705787136

In [51]:
list_c is list_a

False

In [52]:
list_c == list_a

True

In [53]:
list_d = list_a.copy() ## Otra forma de crear una copia

<a class="anchor" id="mets"></a>

### Métodos de las listas

| Método    | Descripción                                        | Ejemplo de Código                         |
|-----------|----------------------------------------------------|-------------------------------------------|
| `append()` | Añade un elemento al final de la lista.            | `frutas = ['aguacate', 'banana', 'cereza']`<br>`frutas.append('datil')` |
| `extend()` | Añade los elementos de una lista al final de otra lista. | `frutas = ['aguacate', 'banana', 'cereza']`<br>`frutas.extend(['datil', 'fig'])` |
| `insert()` | Añade un elemento en un índice específico.        | `frutas = ['aguacate', 'banana', 'cereza']`<br>`frutas.insert(1, 'arándano')` |
| `remove()` | Elimina la primera aparición de un elemento.      | `frutas = ['aguacate', 'banana', 'cereza', 'banana']`<br>`frutas.remove('banana')` |
| `pop()`    | Elimina y devuelve el elemento en un índice dado. | `frutas = ['aguacate', 'banana', 'cereza', 'datil']`<br>`fruta = frutas.pop(1)` |
| `count()`  | Devuelve el número de veces que un valor aparece en la lista. | `frutas = ['cereza', 'banana', 'cereza', 'cereza', 'datil']`<br>`print(frutas.count('cereza'))` |
| `sort()`   | Ordena la lista in situ.                           | `frutas = ['cereza', 'aguacate', 'datil', 'aguacate', 'banana']`<br>`frutas.sort()` |
| `reverse()`| Invierte el orden de los elementos en la lista.   | `frutas = ['aguacate', 'banana', 'cereza']`<br>`frutas.reverse()` |

In [57]:
frutas = ["plátano", "pera", "sandía"]
frutas.append ("tuna") #append añade
frutas

['plátano', 'pera', 'sandía', 'tuna']

In [60]:
frutas.extend (["higo", "chirimoya"]) #extend añade una lista a otra lista
frutas.sort #ordena la lista
frutas

['plátano',
 'pera',
 'sandía',
 'tuna',
 'higo',
 'chirimoya',
 'higo',
 'chirimoya',
 'higo',
 'chirimoya']

#### Ejercicios:

Teniendo la siguiente lista:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]

- Agrega el curso de "Sociologia" al final de la lista.
- Agrega el curso de "Filosofia" al inicio de la lista.
- Reemplaza el curso de "RSP" por "Ciencia Política"
- Extiende la lista con los cursos de "Psicología" y "Geografía".
- Elimina el curso de "Derecho" de la lista.


num_lst = [1, 1, 2, 3, 4, 5, 6, 7, 8, 1, 9, 9]
- Cuenta el número de veces que aparece el número 1 en la lista.
- Verifica si el número 5 está en la lista. (hint: usa el operador `in`)
- Verifica si el número 9 aparece más de una vez en la lista.
- Ordena la lista.
- Revierte la lista.

<a class="anchor" id="fuinc"></a>

### Funciones integradas

Python viene con funciones integradas (builtin), las cuales se pueden aplicar a estructuras de datos como las listas. Aquí las siguientes:

| Función    | Descripción                                                  | Ejemplo                    |
|------------|--------------------------------------------------------------|---------------------------------------|
| `sum()`    | Calcula la suma total de los elementos en la colección.      | `sum([1, 2, 3])` -> `6`               |
| `len()`    | Devuelve el número de elementos en la colección.             | `len([1, 2, 3, 4, 5])` -> `5`               |
| `max()`    | Encuentra el valor máximo entre los elementos.               | `max([1, 2, 3, 7])` -> `7`               |
| `min()`    | Encuentra el valor mínimo entre los elementos.               | `min([-1, 1, 2, 3])` -> `- 1`               |
| `sorted()` | Devuelve una nueva lista con los elementos ordenados.        | `sorted([3, 1, 2])` -> `[1, 2, 3]`    |

Ejercicios:

- Crear una lista con los números del 1 al 10. Obtén el número, la suma  y el promedio de los elementos de la lista.

Se pueden hacer operaciones con los elementos (numéricos) de una lista

In [61]:
nums = [0,1,2,3,4,5,6,7,8,9]

print(nums[1] * nums[2] * nums[3])

6

<a class="anchor" id="ldel"></a>

###  Listas de listas

In [80]:
mat = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] #lista de fantasía, solo 3 elementos
mat[2][1] #el primero, cuenta elementos; el segundo, subelementos

8

In [72]:
mat[0][1]

2

In [73]:
mat[2][2]

9

In [74]:
mat2 = mat.copy() # ".copy" hace copias shallow, solo para elementos simples

In [78]:
mat2 [1][1] = 1213

In [82]:
mat
mat2 #se arrgla con ".copy.deepcopy"

[[1, 2, 3], [4, 1213, 6], [7, 8, 9]]

In [83]:
lista_vacia = []
lista_llena= [[1,2,3,4,5], [6,7,8,9,10], ['Economia', ['Psicologia', 'Antropologia'], 'RSP', 'Derecho']]

In [84]:
lista_llena[2][2]

'RSP'

In [85]:
lista = [1,2,3,4,5]
print(lista)
print(id(lista))
lista.append(6)
print(id(lista))
print(lista)

[1, 2, 3, 4, 5]
137795180405888
137795180405888
[1, 2, 3, 4, 5, 6]

In [91]:
#Extra para cambiar dato de una lista
a = list(range(0, 10))
a[2] = 22 #la indexación sirve para cambiar dentro de la lista
a[2]

22